h1 {
  text-align: left;
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px black;
  font-family: Verdana;
}

h2 {
  color: white;
  text-shadow: 1px 1px black;
  margin-left: 50px;
}

body {
  background-color: orange;
  background-image: url(https://curriculo.sme.prefeitura.sp.gov.br/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBLdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d482cfa0da2caaf2df187d19a62af1d1eb63cee3/sub_icon9.png);
  background-repeat: no-repeat;
  background-position: 1025px 50px;
  background-attachment: fixed;
  background-size: 300px;
}

section {
  background-color: rgba(255, 255, 255, 1);
  width: 900px;
  border: 7px hidden grey;
  padding: 25px;
  margin: 20px;
  border-radius: 15px;
}

.main {
  font-size: 20px;
  font-family: Tahoma;
}
.ODS {
  text-align: center;
}
